# Data Provider Intro

Data provider allows you to fetch data from domino server

In [1]:
import requests
import numpy as np
import pandas as pd


def get_data(url="https://app.dominodatalab.com/u/yihewang1234/data_provider/app", end="2018-08-31 19:00:00", n=500,
             ntest=100, p=10, plist=10, name="Hourly", method="M4",
             datestart="2018-06-15 19:00:00", dateend="2018-07-01 19:00:00"):
    n = str(n)
    ntest = str(ntest)
    p = str(p)
    plist = str(plist)
    r = requests.get(url, headers={"end": end, "n": n, "ntest": ntest, "p": p, "plist": plist, "name": name,
                                   "method": method, "datestart": datestart, "dateend": dateend})
    return pd.read_json(r.content)

## Parameters

* url: domino will provide the url
* end: end date for getting real data
* n: total number of real data points
* ntest: number of test data among n data points
* p: number of time series for generated data
* plist: numnber of time series for M4 data
* name: frequency. 
* method: data source. Options: M4, linear, sin
* datestart: starting time of request data
* dateend: ending time of request data

## Example

In [4]:
data = get_data(datestart="2018-06-15 19:00:00", dateend="2018-06-15 23:00:00", plist=5)
data.head()

                       0     1     2     3     4
2018-06-15 19:00:00  661  2490  1809  6194  3324
2018-06-15 20:00:00  632  2448  1755  5962  3108
2018-06-15 21:00:00  573  2277  1685  5810  2946
2018-06-15 22:00:00  521  1997  1618  5525  2767
2018-06-15 23:00:00  481  1785  1487  5123  2495