# Data Provider Intro

Data provider allows you to fetch data from domino server

In [3]:
import requests
import json
import pandas as pd
response = requests.post("https://app-models.dominodatalab.com:443/models/5b2cf88ee4b0941477d689d8/latest/model",
                         auth=(
                             "ublYY9FcLTuLJKnkVVjuL07njcHhCEBVYvfMbkQDNtoe8zXkM1VNs10C78QAOR21",
                             "ublYY9FcLTuLJKnkVVjuL07njcHhCEBVYvfMbkQDNtoe8zXkM1VNs10C78QAOR21"
                         ),
                         json={
                                "data": {"end": "2018-08-31 19:00:00", "n": 500, "ntest": 100, "p": 5, "plist": 5,
                                         "name": "Hourly", "method": "sin", "datestart": "2018-10-31 19:00:00",
                                         "dateend": "2018-10-31 23:00:00"}
                         }
                         )

## Parameters

* url: domino will provide the url
* end: end date for getting real data
* n: total number of real data points
* ntest: number of test data among n data points
* p: number of time series for generated data
* plist: numnber of time series for M4 data
* name: frequency. 
* method: data source. Options: M4, linear, sin
* datestart: starting time of request data
* dateend: ending time of request data

## Example

In [4]:
data = pd.read_json(json.loads(response.content)["result"])
data

                             0           1          2         3           4
2018-10-31 19:00:00  49.159298   95.267567  96.458125  0.360968  143.062189
2018-10-31 20:00:00  41.588429  102.603121  91.026162  0.494918  162.200810
2018-10-31 21:00:00  34.234124  109.728841  85.749580  0.625036  180.791969
2018-10-31 22:00:00  33.857899  110.093373  85.479645  0.631692  181.743040
2018-10-31 23:00:00  40.805652  103.361568  90.464534  0.508767  164.179613